# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/core
/coreng
/dist
/tmp
/out-tsc
/testResults
/src/app/**/*.js
/src/environments/**/*.js
lintOutput.txt

# dependencies
/node_modules

# IDEs and editors
.idea/
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.orig

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
documentation.json
npm-debug.log
testem.log
debug.log
/typings
/local-hostname.json
*.tsbuildinfo

# jest
/junit.xml
/coverage

# System Files
.DS_Store
Thumbs.db
